
    <link rel="stylesheet" href="../public/stylesheets/index.css">

<div class="row" style="background-color: #000000;min-height:100vh;">
    <div class="container">
        {{#if user}}

{{#each books}} 

<div class="index" style="display:flex;justify-content:space-between;margin-top:100px;min-height:100vh;gap:20px">
    <div class="index-left">

       
        <img style="width: 250px;height:auto;border:1px solid #ff1062;border-radius:4px" src="/book-images/{{this.item._id}}.jpg" alt="">
<br> <br>
<h6 style="color:rgb(151, 144, 144);text-align:center">{{this.item.year}}  {{this.item.genre}}</h6>
<h6 style="color: #ff10645b;text-align:center">Book suggested by {{this.item.name}}</h6>
 <br>
  <div class="ratebook" style="text-align: center;color:white">
         <p>rate this book</p>

         <form action="/rated/{{this.item._id}}" method="post">
             <input max="5" type="text" style="border: none;border-radius:5px;outline:none" name="rating" placeholder="enter b/w 1-5">
             <button style="border-radius:5px;cursor:pointer">post</button>


         </form>

<p id="noted" style="color: #ff1062;"></p> <i id="thumps" style="color:#ff1062"></i>
  </div>
    </div>

    <div class="index-right" style="max-width: 700px;">

        <h4 style="color:white;text-decoration:underline;text-transform:uppercase">{{this.item.title}}</h4>
        <div class="authorname" style="display: flex;gap:3px">
            <h5 style="color: #ff1062;">by {{this.item.author}} </h5>
        </div>
        <h6 style="color:wheat">language:{{this.item.language}}</h6>

        <h6 style="color:white">{{this.item.description}}</h6>
        


<br>
<p style="color: whitesmoke;">rating</p>
<div class="overall-rating" style="color: rgba(245, 245, 245, 0.568);">
    <i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
</div>
<br>
<button class="btn btn-success"><a style="color: white;" href="" onclick='window.open("{{this.item.purchaselink}}");return false;'><h5>purchase via amazon</h5></a>
</button>
    
  {{!-- {{#if status}} --}}

         <a href="/deletebook/{{this.item._id}}" onclick="return confirm('Are you sure to delete this book?')"> <button class="btn btn-danger">Delete book</button></a>
 

  {{!-- {{/if}} --}}
    <br>
    <br>
    
       
{{!-- <p style="text-decoration: underline;">comments</p> --}}
 
                


<form action="/home/{{this.item._id}}" method="post">
     <input type="text" placeholder="add a comment" name="comment">
     <button class="btn btn-light">add</button>
 </form>
       
      <ul>
       <a href="home/{{this.item._id}}"><p>view comments</p></a>
           
         {{!-- {{#each comment}}

         <p>{{this.comment}}</p>

         {{/each}}  --}}

          
      </ul>
  
    </div>
</div>

{{/each}}

{{/if}}

    </div>
    </div>
    

    <script>
        document.addEventListener('DOMContentLoaded',()=>{
         const total=5
             let myrate=4

             let percentage=(myrate/total)*100


{{!-- alert(percentage) --}}

const roundedpercentage=`${Math.round(percentage)}%`


{{!-- alert(roundedpercentage) --}}

let stars=document.querySelector('.overall-rating')

stars.style.width="90%"
stars.style.color="gold"
        })
    </script>
   